atari-py==0.1.1
azure==1.0.3
azure-common==1.1.8
azure-mgmt==0.20.2
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.1
azure-mgmt-network==0.20.1
azure-mgmt-nspkg==2.0.0
azure-mgmt-resource==0.20.1
azure-mgmt-storage==0.20.0
azure-nspkg==2.0.0
azure-servicebus==0.20.1
azure-servicemanagement-legacy==0.20.2
azure-storage==0.20.3
-e git+https://github.com/openai/baselines.git@4993286230ac92ead39a66005b7042b56b8598b0#egg=baselines&subdirectory=../../../github/baselines
bleach==1.5.0
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
dill==0.2.7.1
gym==0.9.4
h5py==2.7.1
html5lib==0.9999999
idna==2.6
imageio==2.2.0
joblib==0.11
Keras==2.0.6
keras-rl==0.3.1
Markdown==2.6.9
matplotlib==2.1.0
mpi4py==2.0.0
mujoco-py==0.5.7
numpy==1.13.3
olefile==0.44
pandas==0.20.3
Pillow==4.3.0
progressbar2==3.34.3
protobuf==3.4.0
pyglet==1.2.4
PyOpenGL==3.1.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-utils==2.2.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
requests==2.18.4
scipy==0.19.1
seaborn==0.8.1
six==1.11.0
tensorflow==2.9.3
tensorflow-tensorboard==0.1.8
Theano==0.9.0
tqdm==4.19.2
urllib3==1.22
Werkzeug==0.12.2
zmq==0.0.0
